.difficultyLevel {
    font-size: 20px;
    padding-top: 20px;
    color: #fff;
    margin: 10px 5px;
    
    label {
        margin-right: 30px; 
    }
    select {
        padding: 2px 10px;
        background: #fff;
        color: #3891A7;
    }
}