.home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    margin-top: 100px;
    div {
        display: flex;
        position: relative;
        width: 400px;
        height: 300px;
        margin: auto;
        justify-content: center;
        text-align: center;

        a { 
            margin-top: auto;
            color: #fff;
            font-size: 20px;
            text-decoration: none;
            background: rgba(54, 25, 25, .3);
            &:hover {
                background: #C32D2E;
            }
        }
    }

    .manage {
        background-color:#FEB80A;
        display: flex;
        flex-direction: column;
        margin: auto;
        .icon {
            background-image: url('../../images/manage.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 200px;
        }
        a {
            padding: 14px 116px;
        }
    }

    .play {
        background-color: #8DC765;
        display: flex;
        flex-direction: column;
        margin: auto;
        .icon {
            background-image: url('../../images/quiz.png');
            background-position: center;            
            background-repeat: no-repeat;
            background-size: 200px;                      
        }
        a {
            padding: 14px 178px;
        }
    }
}