.home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    margin-top: 100px;

    .manage {
        float: left;
        position: relative;
        width: 400px;
        height: 300px;
        margin: auto;
        background-color:#000;
    }

    .play {
        position: relative;
        width: 400px;
        height: 300px;
        background-color: #000;
        margin: auto;
    }
}